/* Global Layout Set-up */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  text-transform: uppercase;
}

h3 {
  font-size: 1.25rem;
}

img {
  width: 100%;
}

.header, .footer{
  background-color: #0e5223;
  color: #ffffff;
}

.header {
  padding: 1.5rem 0 2.5rem;
}

/* Framework */
.wrapper {
  padding: 0 1rem;
}

.nav-list {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.nav-list li {
  background-color: #ffffff;
  margin-bottom: 0.25rem;
}

.nav-list a {
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list a:hover, .nav-list a:focus {
  text-decoration: underline;
}

.header-bio {
  margin-top: 2.5rem;
}

.header-bio p {
  margin-top: 1.5rem;
}

.profile-img {
  width: 200px;
}

.footer-contact {
  padding: 3rem 0;
}

.footer-contact p {
  margin-top: 1.5rem;
}

.footer-contact-blurb {
  margin-left: auto;
  margin-right: auto;
  max-width: 575px;
}

.footer-contact a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  margin-left: 0.5rem;
}

.footer-contact a:hover, .footer-contact a:focus {
  text-decoration: underline;
}

.footer-links {
  padding: 2rem 0;
  border-top: 1px solid #e4e4e4;
  text-align: left;
  font-weight: bold;
  font-size: 0.875rem;
}

.footer-links a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.footer-links-nav {
  float: right;
}

.footer-links-back_top {
  text-transform: uppercase;
}

.footer .nav-list {
  display: none;
}

/* Content */
.portfolio {
  padding: 2.5rem 0;
}

.portfolio-project {
  margin-top: 2rem;
}

.portfolio-project h3 {
  margin-top: 1.5rem;
}

.portfolio-project img {

}

.portfolio-project p {
  margin-top: 1rem;
}

/* Media Queries */
@media (min-width: 768px) {
  .header {
    padding: 3rem 0;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .nav-list {
    display: inline-block;
  }

  .nav-list li {
    background: none;
    float: left;
  }

  .nav-list a {
    color: #ffffff;
  }

  .header-bio { margin-top: 3rem; }

  .header-bio p {
    margin-top: 0;
    font-size: 1.25rem;
    text-align: left;
  }

  .profile-img {
    width: 250px;
    margin-left: 0.5rem;
    float: right;
  }

  h2 {
    width: 100%;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .portfolio h2 {
    flex: 0 0 100%;
  }

  .portfolio-project {
    flex: 0 0 50%;
    padding: 0 0.5rem;
    margin-top: 3rem;
  }

  .footer-contact p {
    font-size: 1.25rem;
  }

  .footer-contact-blurb {
    margin-top: 2.5rem;
  }

  .footer-links {
    padding: 1.5rem 0 4rem;
  }

  .footer-links-back_top {
    display: none;
  }

  footer .nav-list {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0;
  }

  footer .nav-list a {
    padding-top: 0;
    padding-bottom: 0;
  }

  .clearfix:after, .cf:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {
  .header h1 {
    float: left;
  }

  .header nav {
    float: right;
  }

  .wrapper {
    padding: 0 3rem;
  }

  .nav-list {
    margin-top: 0;
  }

  .nav-list li {
    margin-bottom: 0;
  }

  .profile-img {
    width: 400px;
    margin-left: 2rem;
  }

  .portfolio-project {
    flex-basis: 33.3333%;
  }
}
